DB_NAME=nombre_base_de_datos
DB_USER=usuario_db
DB_PASSWORD=contraseña_db
DB_HOST=localhost
DB_PORT=3306
JWT_SECRET=generar_con_node_-e_crypto.randomBytes(64).toString('hex')
PORT=3005
MAIL_USER=correo@dominio.gov.co
MAIL_PASS=app_password_del_correo
